<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <title>@Page.Title</title>

    <meta charset="utf-8" />
    <meta name="description" content="@Page.Description" />
    <meta name="viewport" content="initial-scale=1.0" />

    <link href="/css/site.css" rel="stylesheet" />

    <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-touch-icon-76x76.png" />
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon-180x180.png" />

    <link rel="icon" type="image/png" href="/img/favicon/favicon-192x192.png" sizes="192x192" />
    <link rel="icon" type="image/png" href="/img/favicon/favicon-160x160.png" sizes="160x160" />
    <link rel="icon" type="image/png" href="/img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16" />
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32" />

    <meta name="msapplication-TileColor" content="#da532c" />
    <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png" />
    <meta name="msapplication-config" content="/img/favicon/browserconfig.xml" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:title" content="@Page.Title" />
    <meta name="twitter:description" content="@Page.Description" />
    <meta name="twitter:image" content="http://schemastore.org/img/json-logo.png" />

    <meta property="og:title" content="@Page.Title" />
    <meta property="og:description" content="@Page.Description" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://schemastore.org" />
    <meta property="og:image" content="http://schemastore.org/img/json-logo.png" />
</head>
<body>

    <header role="banner">
        <div class="container">
            <h1><a href="/" itemprop="name">@Page.Title</a></h1>
            @*<h2 itemprop="headline">@Page.Description</h2>*@
        </div>
    </header>
    <nav>
        <ul class="container">
            <li><a href="/json/">JSON</a></li>
        </ul>
    </nav>

    <div role="main" id="main" class="container">
        @RenderBody()
    </div>
   
    <footer role="contentinfo" class="container">
        @*<p>Learn more at <a href="http://json-schema.org">json-schema.org</a> and <a href="http://spacetelescope.github.io/understanding-json-schema/">Understanding JSON Schema</a></p>*@
        <p>Open source on <a href="https://github.com/schemastore/schemastore/">GitHub</a></p>
    </footer>

    <script src="/js/site.js" async defer></script>
</body>
</html>
